@font-face {
    font-family: Xolonium;
    src: url(../fonts/Xolonium-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(../img/LoginPage/Background.png) no-repeat center top /cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
}
header{
    height: 100%;
}
.logo{
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    height: 7vw;
}
.graphiclogo{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
    height: 75%;
}
.container{
    margin-top: 70px;
    width: 100%;
    color: #1bda1c;
    font-family: 'Xolonium';
    font-weight: normal;
}
.frame{
    width: 80%;
    left: 10%;
    position: absolute;
}
.head{
    margin-top: 10%;
    font-size: 1.15vw;
}
.greeting{
    text-align: center;
    font-size: 1.15vw;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
input{
    color: #1bda1c;
    font-family: 'Xolonium';
    font-weight: normal;
    font-size: 1.15vw;
    width: 100%;
    height: 2vw;
    border: 2px solid #1bda1c;
    border-radius: 2px;
    background: rgb(0, 0, 0, 0.6);
    text-indent: 0.5vw;
}
input:focus{
    box-shadow: 0 0 10px #1bda1c;
    outline: none;
}
.label{
    font-size: 1.5vw;
    text-align: center;
}
.second-row{
    margin-top: 3%;
}
.button{
    margin-top: 12%;
    margin-bottom: auto;
    width: 100%;
    border: none;
    background: #1bda1c;
    color: black;
    text-align: center;
}
.button:active{
    background: #fff000;
    box-shadow: 0 0 10px #fff000;
}