@font-face{
    font-family: Xolonium-Regular;
    src: url(../fonts/Xolonium-Regular.otf);
    font-weight: normal;
    font-style: normal;
}


body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: Xolonium-Regular !important;
    
    
    
    
		background-image: url("../img/1.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		position: relative;
		background-color: #150C07;
}

h1{
    text-align: center
}
.rule{
    margin: 5%;
    background: rgba(0,0,0,0.7);
    color: rgb(220,210,200);
}
.dec {
    list-style: decimal
}