@font-face {
    font-family: Xolonium;
    src: url(../fonts/Xolonium-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Xolonium !important;
    color: #1bda1c;
    background-image: url("../img/1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    background-color: #150C07;
}
header{
    display: flex;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}
form{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 30%;
    margin-right: 5%;
}
button{
    display: flex;
    width: 100%;
    font-size: 110%;
    font-family: 'Xolonium';
    border: none;
    padding: 4%;
    background: #1bda1c;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.fa-tasks{
    font-size: 150%;
    margin-top: auto;
    margin-bottom: auto;
}
.buttonText{
    margin-left: 20px;
    float: right;
    margin: auto;
}
button:hover{
    background: #ff0;
}
.logo {
    width: 100%;
    display: block;
    height: 7vw;
}

.graphiclogo {
    margin-top: 0.7vw;
    margin-bottom: auto;
    margin-left: 60px;
    height: 75%;
}

.score {
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1em;
    background: rgba(0, 0, 0, 0.7);
    color: #1bda1c;
    font-family: 'Xolonium';
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.frametop {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    left: 10%;
    height: 5em;
    background: url("../img/Top.png");
    padding-bottom: 10px;
    background-size: 100% 100%;
}

.framebot {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    left: 10%;
    height: 3em;
    background: url("../img/bot.png");
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.rez {
    position: relative;
    top: 50px;
}

.cont {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0;
    background: url("../img/mid.png");
    background-size: 100% auto;
    background-repeat: round;
}


.img {
    display: inline-block;
    height: 4em;
    width: 4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin: 0.2em;
    background: rgba(200, 100, 180, 0.5);
    vertical-align: middle;
}

.table {
    list-style: decimal;
    padding-left: 0;
}

.lin {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-top: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1em;
    border: 1px;
    border-style: solid;
    border-color: #1bda1ca0;
    border-bottom: none;
}

.lic {
    text-align: left;
    padding-left: 0;
    margin-top: 1em;
    border: 1px;
    border-style: solid;
    border-bottom: none;
    border-color: #1bda1c90;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2em;
}

.team {
    left: 10px;
    text-align: center;
    display: inline-block;
    width: calc(33% - 8em);
    line-height: 1em;
    vertical-align: middle;
}

.teamn {
    text-align: center;
    display: inline-block;
    width: calc(25% - 4em);
    line-height: 1em;
    vertical-align: middle;
}

.txlog {
    display: inline-block;
    margin-left: 2em;
    margin-right: 1em;
    text-align: left;
    vertical-align: middle;
}

.un {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: auto;
    line-height: 1em;
    vertical-align: middle;

}

.unn {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: auto;
    line-height: 1em;
    vertical-align: middle;

}

.point {
    text-align: right;
    display: inline-block;
    width: 21%;
    line-height: 1em;
}

.pointn {
    text-align: right;
    display: inline-block;
    width: 21%;
    line-height: 1em;
}

.otn {
    text-align: center;
    display: inline-block;
    margin-left: 0.5%;
    width: 3%;
    line-height: 1em;
}

@media screen and (max-width: 980px) {

    .un,
    .unn,
    .txlog,
    .img,
    .otn,
    .back {
        display: none;
    }

    .team,
    .teamn {
        width: 70%;
    }

    .point,
    .pointn {
        width: 25%;
    }

    .teamn {
        text-align: center;
        margin-left: 0;
    }

    .frametop,
    .framebot {
        display: none;
    }

    .cont {
        background: none;
    }

    .rez {
        top: 0;
    }
    .logo{
        margin-left: 5vw;
        height: 3em;
    }
    .graphiclogo {
        margin-top: 10px;
        margin-left: 0;
    }
    form{
        width: 50%;
    }
    button{
        font-size: 70%;
    }
    .fa-tasks{
        margin-right: 10px;
    }
}
