@font-face{
    font-family: Xolonium-Regular;
    src: url(../fonts/Xolonium-Regular.otf);
    font-weight: normal;
    font-style: normal;
}


body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: Xolonium-Regular !important;
    
    
    
    
		background-image: url("../img/1.jpg");
		background-size: 100% 100%;
		background-attachment: fixed;
		position: relative;
		background-color: #150C07;
}

h1{
    text-align: center
}
p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.po{
/*    opacity: 0.8;*/
    color: #dd7b;
}
a{
    color: rgb(220,210,200);
/*    text-decoration: none;*/
}
.task{
    margin: 5%;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    background: rgba(0,0,0,0.8);
    color: rgb(220,210,200);
    text-align: center;
}
.inb{
    
    color: #ccc;
    font-family: 'Xolonium';
    font-weight: normal;
    font-size: 1.2em;
/*    width: 100%;*/
/*    height: 2vw;*/
    border: 1px solid #aaad;
    border-radius: 2px;
    background: rgb(0, 0, 0, 0.6);
    text-indent: 0.5vw;
}
.but{
    
/*
    margin-top: 12%;
    margin-bottom: auto;
    width: 100%;
*/
    font-size: 1.2em;
    border: 1px solid #aaad;
    background: rgb(20,20,20);
    color: rgb(220,210,200);
    text-align: center;
}